.sidebar {
  height: 100vh;
  width: 130px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--base-border);
}

.menu-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.logo-container {
  width: 96px;
  height: 171px;
  margin-bottom: 10px;
}

.divider {
  height: 1px;
  width: 90%;
  background-color: var(--base-border);
  margin: 0 auto;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-links > li {
  display: flex;
}

.menu-links > li:not(*:last-child) {
  margin-bottom: 8px;
}

.copyright {
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--base-black);
}

.link {
  background: var(--base-white);
  
  border-radius: 4px;
  border: none;
  padding: 14px 18px;

  font-weight: bold;
  font-family: var(--base-font);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--base-black);
}

.link.active {
  background: var(--base-blue);
  color: var(--base-white);
}